// Web API will start up automatically when the RPi boots

// path for this file: /etc/systemd/system/flask_api.service


// code start

[Unit]
Description=Flask API Service
After=network.target

[Service]
User=pedro
WorkingDirectory=/home/pedro/pictag
ExecStart=/usr/bin/python3 /home/pedro/pictag/sense_api.py
Restart=always

[Install]
WantedBy=multi-user.target

// code end