<!doctype html>

<html>

<head>
    <title>Device1 Environment Data</title>
    <link href="https://mattduck.github.io/generic-css/css/generic-light.min.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <h1>Device1</h1>

    <!-- <h2>Last Image</h2>
    <img src="images/sensehat_image.jpg" alt="Last image" width="200" height="auto"/> -->

    <h2>Control</h2>
    <form action="camera" method="post">
        <input type="submit" name="takephoto" value="Take Photo" />
        <input type="submit" name="reject" value="Reject" />
    </form>

    <h2>Tag</h2>
    <form action="image" method="post">
        <label for="image">Tag the image:</label><br>
        <input type="text" id="image" name="image" value="eg.house">
        <input type="submit" name="tag" value="tag"/>
      </form>


    <h2>LED Lights</h2>
    <p><strong>Light State:</strong> {{ ledlight }}</p>
    <p><strong>LED Code:</strong> {{ ledcode }}</p>

    <h2>Temperature</h2>
    <p><strong>Celsius:</strong> {{ celsius }}</p>
    
    <h2>API Description</h2>
    <p>For use by developers...</p>
    <table>
        <thead>
            <tr>
                <th>Resource/Path</th>
                <th>GET</th>
                <th>POST</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>/sensehat/environment</td>
                <td>Current environment data</td>
                <td>Not Used</td>
            </tr>
            <tr>
                <td>/sensehat/light</td>
                <td>Current light state(i.e. on/off)</td>
                <td>Change light state using status query parameter. <br>
                    e.g. curl -X POST http://YOUR_PI_IP:5000/sensehat/light?state=on</td>
            </tr>
        </tbody>
    </table>
</body>

</html>