<!doctype html>

<html>

<head>
    <title>Device1 Data</title>
    <link href="https://mattduck.github.io/generic-css/css/generic-light.min.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <h1>Device1</h1>

    <h2>Last Image</h2>
    <!-- <img src="../images/sensehat_image.jpg" alt="Last image" width="200" height="auto"/> -->
    <img src="static_folder/sensehat_image.jpg" alt="Last image" width="200" height="auto"/>


    <h2>Control</h2>
    <form action="camera" method="post">
        <input type="submit" name="takephoto" value="Take Photo" />
        <!-- <input type="submit" name="reject" value="Reject" /> -->
    </form>

    <form action="delete" method="post">
        <input type="submit" name="delete" value="Delete Image" />
    </form>

    <h2>Tag</h2>
    <form action="tag" method="POST">
        <label for="tagtext">Enter tag for image:</label>
        <input type="text" id="tagtext" name="tagtext" required>
        <button type="submit">Save Image</button>
    </form>


    <h2>LED Lights</h2>
    <p><strong>Light State:</strong> {{ ledlight }}</p>
    <p><strong>LED Code:</strong> {{ ledcode }}</p>

    <h2>Temperature</h2>
    <p><strong>Celsius:</strong> {{ celsius }}</p>
    
    <h2>API Description</h2>
    <p>For use by developers...</p>
    <table>
        <thead>
            <tr>
                <th><small>Resource/Path</small>
                <th><small>GET</small></th>
                <th><small>POST</small></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><small>/sensehat/environment</small></td>
                <td><small>Current environment data</small></td>
                <td><small>Not Used</small></td>
            </tr>
            <tr>
                <td><small>/sensehat/light</small></td>
                <td><small>Current light state(i.e. on/off)</small></td>
                <td><small>Change light state using status query parameter. <br>
                    e.g. curl -X POST http://YOUR_PI_IP:5000/sensehat/light?state=on</small></td>
            </tr>
        </tbody>
    </table>
</body>

</html>